* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: url(../imagenes/fondo2.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#grid-area {
    display: grid;
    gap: 5px;
    grid-template-areas:
    "logo logo logo"
    "info1 info1 info1"
    "info2 info2 info2"
    "footer footer footer";
    width: 100%;
    height: 100%;
}
a:link {
	text-decoration: none;
    color: black;
}
a:visited {
	text-decoration: none;
    color: black;
}
a:hover {
	text-decoration: none;
    color: black;
}
a:active {
	text-decoration: none;
    color: black;
}



@media screen and (max-width: 550px) { /* MEDIA MOBILE */

    header{
        grid-area: logo;
        background-image: linear-gradient(to right bottom, #942067, #a32375, #b12684, #c02a94, #ce2ea4, #d53eb1, #db4cbe, #e159cb, #e26ed6, #e380df, #e492e8, #e6a2f0);
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        font-family: 'Sniglet', cursive;
        position: sticky;
        top: 0;
        z-index: 999;    
    }

    .logo {
        font-family: 'Sniglet', cursive;
           font-size: 50px;
           color: aliceblue;
           padding: 2px 2px;
           margin-left: 10px;
           padding: 10px;
           display: block;
        }
        
        .logo:hover {
           font-family: 'Sniglet', cursive;
           background-color: blueviolet;
           font-size: 50px;
           color: white;
           margin-left: 10px;
        }

    nav{
        display: none;
    }
    
    main {
        background: rgb(255, 255, 255);
        grid-area: info1;
    }   
    
    section {
        grid-area: info2;
    }
    
    aside{
        background: green;
        grid-area: banner;
    }
    
    footer{
        background: aquamarine;
        grid-area: footer;
    }  
    
    /* DISEÑOS */
    .nav {
        display: none;
    }

    .nav-mob {
        display: none;
        position: fixed;
        background-image: linear-gradient(to right bottom, #942067, #a32375, #b12684, #c02a94, #ce2ea4, #d53eb1, #db4cbe, #e159cb, #e26ed6, #e380df, #e492e8, #e6a2f0);
        top: 0%;
        bottom: 30%;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
        font-family: 'Sniglet', cursive;
    }

    .nav-input:checked + .nav-mob {
        background-image: linear-gradient(to right bottom, #942067, #a32375, #b12684, #c02a94, #ce2ea4, #d53eb1, #db4cbe, #e159cb, #e26ed6, #e380df, #e492e8, #e6a2f0);
    } 
    
    .nav-mob a {
        
        color: rgb(3, 3, 3);
    }
    
    .nav-mob {
        color: rgb(15, 15, 15);
    }

    .nav-input:checked + .nav-mob {
        clip-path: circle(100% at center);
    } 

    .nav-label {
        display: inline-block;
        margin-right: 5%;
    }

    p {
        font-family: 'Sniglet', cursive;
        margin: 15px;
        word-spacing: 2px;
        font-size: 10px;
     }
    
    section {
        margin-bottom: 50px;
    }

    .seccion1 {
        margin-bottom: 10px;
        border: 2px solid violet;
        box-shadow: 0px 0px 15px blueviolet;
        display: flex;
        padding: 10px;
        justify-content: flex-end;
        align-items: center;
        flex-direction:unset;
        flex-wrap: nowrap;
        background-color: white;
     }
    
    .section2 {
        
        margin-bottom: 10px;
        border: 2px solid violet;
        box-shadow: 0px 0px 15px blueviolet;
        display: flex;
        padding: 20px;
        text-align: center;
        justify-content: flex-end;
        align-items: center;
        flex-flow: row nowrap;
        background-color: white;
        text-transform: uppercase;
    }
    
    .imagen1 {
        width: 30%;
        height: auto;
        border: 2px solid violet;
        box-shadow: 0px 0px 15px blueviolet;   
    }
    
    .cuerpo {
        display: flex;
        flex-flow: column wrap;
        gap: 5%;
    }
    
    .titulo2 {
        margin: 10px;
        padding: 10px;
        font-size: 50px;
        font-family: 'Sniglet', cursive;
    }
    
    .imagen2 {
        width: 30%;
        height: auto;
        display: flex;
        padding: 0px;
        border: 2px solid violet;
        box-shadow: 0px 0px 15px blueviolet;
    }
    
    footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        color: black;
        background-color: black;
        height: 100%;
        width: 100%;
        padding: 20px;
        box-shadow: 0px 0px 15px blueviolet;
    }
    .footer-corp {
        padding: 10px;
        width: 15%;
    }
    .footer-redes {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        gap: 30%;
    }
    
    .footer-tit {
        display: flex;
        align-content: flex-start;
        font-family: 'Sniglet', cursive;
        color: white;
        font-size: 15px;
    }
    .parrafos {
        color: white;
    }
    
    .mapa {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
     }
     .mapa-bordes {
        border: 2px solid violet;
        box-shadow: 0px 0px 15px blueviolet;
     }
    
     .redes-bordes {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
     }
     
     .redes-ind{
        border: 2px solid violet;
        box-shadow: 0px 0px 15px blueviolet;
        border-radius: 200px;
     
     }
     /* PAGINA VETERINARIOS */

     section.section-vet {
        border: 2px solid violet;
        box-shadow: 0px 0px 15px blueviolet;
        display: flex;
        margin: 10px;
        padding: 10px;
        overflow: hidden;  
        text-align: center;
        background-color: white;
        flex-direction: column-reverse;
        align-items: center;
        align-content: center;
        }

     img.imgvet {
         width: 100%;
     }   
    }

@media screen and (min-width: 550px) { /* MEDIA DESPTOK */
    
    .nav-mob {
        display: none;
    }

    .nav-label {
        display: none;
    }

    .nav-input {
        display: none;
    }

    header{
        grid-area: logo;
        background-image: linear-gradient(to right, #0d0c0d, #241a28, #352845, #423866, #474a8b, #425ea6, #3473c0, #0089d9, #00a2e4, #00b9e6, #00cfe1, #2be3d7);
        height: 100%;
        border-radius: 5px inherit;
        border-color: aliceblue;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        font-family: 'Sniglet', cursive;
        position: sticky;
        top: 0;
        z-index: 999;    
    }
    
    nav{
    }
    
    main {
        background: blue;
        grid-area: info1;
    }   
    
    section {
        grid-area: info2;
    }
    
    aside{
        background: green;
        grid-area: banner;
    }
    
    footer{
        background: aquamarine;
        grid-area: footer;
    }  
    
    /* DISEÑOS */
    nav {
        font-family: 'Sniglet', cursive;
    }
    
    ul li {
       list-style: none;
    }
    
    .nav li a {
       color: white;
       text-decoration: none;
       padding: 20px 20px;
       display: block;
    }
    
    .nav li a:hover {
       background-color: black;
       color: blueviolet;
       padding: 20px 20px;
    }
    
    .nav li {
       float: left;
    }
    
    .nav li ul {
       display: none;
       position: absolute;
       min-height: 1px;
       background-color: black;
    }
    
    .nav li ul li a {
       color: white;
    }
    
    .nav li:hover ul {
       display: flex;
       flex-direction: column;
    }
    
    .logo {
        font-family: 'Sniglet', cursive;
       font-size: 50px;
       color: aliceblue;
       padding: 2px 2px;
       margin-left: 10px;
       padding: 10px;

    }
    
    .logo:hover {
       font-family: 'Sniglet', cursive;
       background-color: blueviolet;
       font-size: 50px;
       color: white;
       margin-left: 10px;
    }
    
    section {
        margin-bottom: 50px;
    }
    
    .section2 {
        border: 2px solid violet;
        box-shadow: 0px 0px 15px blueviolet;
        display: flex;
        margin: 10px;
        padding: 10px;
        overflow: hidden;
        justify-content: flex-end;
        align-items: center;
        flex-direction:unset;
        text-align: center;
        flex-wrap: nowrap;
        background-color: white;
        opacity: 1.5;
    }
    
    .imagen1 {
        width: 30%;
        height: auto;
        display: flex;
        margin: 10px;
        padding: 0px;
        border: 2px solid violet;
        box-shadow: 0px 0px 15px blueviolet;
    }
    
    .cuerpo {
        display: flex;
        flex-flow: column wrap;
        gap: 5%;
    }
    
    .titulo2 {
        margin: 10px;
        padding: 10px;
        font-size: 50px;
        font-family: 'Sniglet', cursive;
    }
    
    .imagen2 {
        height: 95vh;
        display: flex;
        margin: 10px;
        padding: 0px;
        border: 2px solid violet;
        box-shadow: 0px 0px 15px blueviolet;
    }
    
    footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        color: black;
        background-color: black;
        height: 100%;
        width: 100%;
        padding: 20px;
        box-shadow: 0px 0px 15px blueviolet;
    }
    .footer-corp {
        padding: 20px;
        width: 15%;
    }
    .footer-redes {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        gap: 30%;
    }
    
    .footer-tit {
        display: flex;
        align-content: flex-start;
        font-family: 'Sniglet', cursive;
        color: white;
     
    }
    .parrafos {
        color: white;
    }
    
    .mapa {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
     }
     .mapa-bordes {
        border: 2px solid violet;
        box-shadow: 0px 0px 15px blueviolet;
     }
    
     .redes-bordes {
        display: flex;
     }
     
     .redes-ind{
        border: 2px solid violet;
        box-shadow: 0px 0px 15px blueviolet;
        border-radius: 200px;
     
     }
}

.nav-input {
    display: none;
}


/* PAGINA PRODUCTOS */

.section-prod {
    border: 2px solid violet;
    box-shadow: 0px 0px 15px blueviolet;
    margin: 10px;
    padding: 10px;
    background-color: white;
    opacity: 1.5;
}
.titulosprod {
    text-align: center;
    padding: 20px;
    font-family: 'Sniglet', cursive;
}
.cuerpoprod {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
}

 .cuerpoprod img {
    padding: 10px 10px;
    width: 100%;
 }
 .cuerpo {
    
}

.parrafoprod {
    align-content: center;
    text-align: center;
}


/* PAGINA VETERINARIOS */

.section-vet {
        border: 2px solid violet;
        box-shadow: 0px 0px 15px blueviolet;
        display: flex;
        margin: 10px;
        padding: 10px;
        overflow: hidden;  
        text-align: center;
        background-color: white;
        flex-direction: row-reverse;
        align-items: stretch;

}

.cuerpovet {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
}

/**------pagina contacto------**/
section.contact {
    margin-bottom: 10px;
    border: 2px solid violet;
    box-shadow: 0px 0px 15px blueviolet;
    display: flex;
    padding: 10px;
    background-color: white;
    text-transform: uppercase;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    opacity: 0.8;
}
.formulario {
    
    padding: 60px;
    
 }
 .divform {
    padding: 10px 10px;
    box-shadow: 0px 0px 10px rgb(17, 17, 17);
 }
 .tituloform {
    font-family: 'Koulen', cursive;
 }
 
 .formin {
    padding: 10px;
 }
 
 .formin input{
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(17, 17, 17);
    padding: 5px;
    font-family: 'Koulen', cursive;
    width: 300px;
 }
 
 .formin textarea {
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(10, 10, 10);
    font-family: 'Koulen', cursive;
    width: 50%;
 }

